:root {
    --margin: 15px;
}

.layout-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 100px calc(30px + 2vw);
}

body {
    color: var(--dark-brown);
}

h2, h3, p {
    margin: 0;
}

p {
    margin-bottom: var(--margin);
}

.devo-list {
    display: grid;
    grid-template-columns: 200px 1fr;
    gap: 8px;
    margin-bottom: var(--margin);
}

.github-name {
    font-weight: 600;
    text-decoration: none;
}

a {
    margin: 0 15px 0 0;
    color: var(--interact-dark-blue);
    transition: color .15s ease-out;
}

a:hover {
    color: var(--interact-blue)
}