.layout-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 100px calc(30px + 2vw);
}

.post-container {
    display: grid;
    padding: 30px 40px;
    gap: 15px;
    grid-template-areas: "title date"
                          "desc desc";
    grid-template-columns: 1fr auto;
    filter: drop-shadow(0 0 3px var(--med-gray));
    background-color: var(--white);
    border-radius: 10px;
}

.authored-post-container {
    display: grid;
    padding: 30px 40px;
    gap: 15px;
    grid-template-areas: "authorheader date"
                         "desc desc";
    grid-template-columns: 1fr auto;
    filter: drop-shadow(0 0 3px var(--med-gray));
    background-color: var(--white);
    border-radius: 10px;;
}

.post-authored-header {
    grid-area: authorheader;
}

.post-author {
    color: var(--interact-dark-blue);
    transition: color .1s ease-out;
}

.post-author:hover {
    color: var(--interact-blue);
}

.post-title {
    grid-area: title;
    font-size: 1.5rem;
    color: var(--dark-brown);
    margin: 0;
}

.post-date {
    grid-area: date;
    color: var(--dark-gray);
    margin: 0;
}

.post-desc {
    grid-area: desc;
    overflow-wrap: break-word;
    white-space: pre-wrap;
    width: 100%;
    color: var(--dark-gray);
    margin: 0;
}

p {
    margin: 0;
}

/* NEW & EDIT BUTTONS */

.post-edit {
    grid-column: 1/-1;
}

.entry-container {
    text-decoration: none;
    text-align: center;
    transition: letter-spacing .15s ease-out;
}

.entry-button {
    padding: 12px 20px;
    border-radius: 10px;
    background-color: var(--light-brown);
    color: var(--dark-brown);
    transition: background-color .15s ease-out;

}

.entry-container:hover {
    letter-spacing: 2px;
}

.entry-container:hover > .entry-button {
    background-color: var(--lightest-brown);
}