.layout-container {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
    height: 100%;
}

.entry-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 30px;
    gap: 20px;
}

#entry-title {
    min-width: 300px;
    max-width: 100%;
    padding: 10px 15px;
}

#entry-description {
    height: 15rem;
    width: 100%;
    padding: 15px 15px;

    resize: none;
    font-family: inherit;
}

.new-entry {
    border-radius: 10px;
    border: none;
    background-color: var(--light-gray);
    transition: background-color .1s ease-out;
}

.new-entry:focus {
    background-color: var(--white);
}

.button-container {
    display: flex;
    gap: 20px;
}

.cancel-link {
    display: block;
    text-decoration: none;
}

#cancel-button {
    display: flex;
    height: 100%;
    width: 175px;
    padding: 12px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;

    border: 3px solid var(--med-brown);
    cursor: pointer;
    transition: background-color .1s ease-out;
}

#cancel-button > span {
    display: block;

    text-transform: uppercase;
    font-weight: 600;
    font-size: 1rem;
    letter-spacing: 2px;
    color: var(--med-brown);
    transition: letter-spacing .15s ease-out;
}

#cancel-button:hover {
    background-color: var(--light-brown);
}

#cancel-button:hover > span {
    letter-spacing: 4px;
}

#post-entry {
    width: 175px;
    padding: 12px;
    
    border: none;
    border-radius: 10px;

    background-color: var(--dark-brown);
    color: var(--light-brown);

    text-transform: uppercase;
    font-weight: 600;
    font-size: 1rem;
    letter-spacing: 2px;

    cursor: pointer;
    transition: 
        letter-spacing .15s ease-out,
        background-color .15s ease-out;
}

#post-entry:hover {
    letter-spacing: 6px;
    background-color: var(--med-brown);
}