:root {
    --margin-dist: 20px
}

.layout-container {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
    height: 100%;
}

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--margin-dist);
}

#logo {
    width: calc(400px + 5vw);
}

/* INPUT STYLING */

.credential-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--margin-dist);
}

.error {
    display: block;
    color: var(--red);
    font-size: .8rem;
}

input {
    font-family: inherit;
}

.credential-input {
    padding: 15px 20px;

    border-radius: 10px;
    width: calc(200px + 5vw);
    
    background-color: var(--light-gray);
    border: none;
}

#credential-submit {
    width: 70%;
    padding: 12px;
    
    border: none;
    border-radius: 20px;

    background-color: var(--dark-brown);
    color: var(--light-brown);

    text-transform: uppercase;
    font-weight: 600;
    font-size: 1rem;
    letter-spacing: 2px;

    cursor: pointer;
    transition: 
        letter-spacing .15s ease-out,
        width .15s ease-out,
        background-color .15s ease-out;
}

#credential-submit:hover {
    width: 80%;
    letter-spacing: 7px;
    background-color: var(--med-brown);
}

/* LINK STYLING */

.prompt-redirect {
    font-weight: 300;
}

.link {
    display: inline-block;
    margin-top: 15%;
    font-weight: 400;
    color: var(--interact-dark-blue);
    transition: color .1s ease-out;
}

.link:hover {
    color: var(--interact-blue);
}
