:root {
    --dark-brown: #3a2323;
    --dark-gray: #585858;
    --med-brown: #5a3737;
    --interact-blue: #2eceeb;
    --interact-dark-blue: #17a1c4;
    --med-gray: #c2c2c2;
    --light-gray: #ececec;
    --light-brown: #fadcc4;
    --white: #FFFFFF;
    --red: #fc0303;
    --font: 'Open Sans', sans-serif;
    font-size: 16px;
    
}

html {
    height: 100%;
}

body {
    padding: 0;
    margin: 0;
    font-family: var(--font);
    height: 100%;
}

* {
    box-sizing: border-box;
}

/* NAVIGATION BAR */

nav {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    
    display: flex;
    align-items: center;
    
    width: 100%;
    height: 100px;
    gap: 30px;
    padding: 30px 50px;
    background-color: var(--white);
}

.nav-logo {
    height: 40px;
    margin-right: auto;
}

.nav-link {
    display: block;
    text-decoration: none;
    color: var(--dark-brown);   
    
    cursor: pointer;
}

.nav-link:after {
    content: ' ';
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    margin-top: 7px;
    width: 0px;
    height: 2px;
    background-color: var(--light-brown);

    transition: width .1s ease-out;
}

.nav-link:hover:after{
    width: 3ch;
}

input {
    font-family: inherit;
}
