<!DOCTYPE html>
<html lang="en">
    <head>
        <title>New Entry</title>
        <link rel="icon" type="image/x-icon" href="../static/images/favicon.ico">
        
        <link rel="stylesheet" href="../static/css/style.css">
    </head>
    <body>
        <form action="/edit/{{index}}" method="POST">
            <label for="edit">edit</label>
            <input type="text" name="edit" value="{{text}}">
            <input type="submit" value="submit new entry">
        </form>
    </body>
</html>