<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Expresso</title>
        <link rel="icon" type="image/x-icon" href="../static/images/favicon.ico">
        
        <link rel="stylesheet" href="../static/css/style.css">
    </head>
    <body>
        <datalist>{{logged}} {{blogs}}</datalist>
        {% if logged == false %}
            <form action="/auth", method="POST">
                <label for="username">Username</label>
                <input type="text" name="username">
                <br>
                <label for="password">Password</label>
                <input type="text" name="password">
                <br>
                <input type="submit" value="login" />
            </form>
            <form action="/register", method="GET">
                <input type="submit" value="make account">
            </form>
        {% else %}
            {% for items in blogs%}
                <h1>{{loop.index}} {{items}}</h1>
            {% endfor %}
        {% endif %}
    </body>
</html>