<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Expresso</title>
        <link rel="icon" type="image/x-icon" href="../static/images/favicon.ico">

        <link rel="stylesheet" href="../static/css/style.css">
    </head>
    <body>
        {% set post_num = namespace(value = last_post_num) %} <!-- Used to define post_num in a global scope -->
        {% for items in blogs %}
            <h1>{{ items }} <h2>by {{ usernames[id_list[loop.index - 1]] }}</h2></h1>
            <!-- Make entry editable if the user has created this specific entry -->
            {% if session['UID'] == id_list[loop.index - 1] %} 
                <form action="/edit/{{ post_num.value }}" method="GET">
                    <input type="submit" value="edit_entry">
                </form>
                {% set post_num.value = post_num.value - 1 %}
            {% endif %}
        {% endfor %}
        <form action = "/new_entry" method="GET">
            <input type="submit" value="create new entry">
        </form>
        <form action="/logout", method="GET">
            <input type="submit" value="logout">
        </form>
        <form action="/view", method="GET">
            <input type="submit" value="view other people's blogs">
        </form>
    </body>
</html>
