<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Expresso</title>
        <link rel="icon" type="image/x-icon" href="../static/images/favicon.ico">

        <link rel="stylesheet" href="../static/css/style.css">
    </head>
    <body>
        {% if logged == false %}
            <form action="/auth", method="POST">
                <label for="username">Username</label>
                <input type="text" name="username">
                <br>
                <label for="password">Password</label>
                <input type="text" name="password">
                <br>
                <input type="submit" value="login" />
            </form>
            <form action="/register", method="GET">
                <input type="submit" value="make account">
            </form>
        {% else %}
            {% for items in blogs%}
                <h1>{{loop.index}} {{items}}</h1>
                <form action="/edit/{{loop.index - 1}}" method="GET">
                    <input type="submit" value=edit_entry>
                </form>
            {% endfor %}
            <form action = "/new_entry" method="GET">
                <input type="submit" value="create new entry">
            </form>
            <form action="/logout", method="GET">
                <input type="submit" value="logout">
            </form>
            <form action="/view", method="GET">
                <input type="submit" value="view other people's blogs">
            </form>
        {% endif %}
    </body>
</html>
