<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Expresso</title>
        <link rel="icon" type="image/x-icon" href="../static/images/favicon.ico"> 

        <link rel="stylesheet" href="../static/css/login.css">
        <link rel="stylesheet" href="../static/css/style.css">
    </head>
    <body>
      <div class="layout-container">
        <div class="login-container">
          <img src="../static/images/logo.png" alt="Expresso">
          <form action="/auth", method="POST">
              <input class="credential-input" type="text" name="username" placeholder="Username">
              <input class="credential-input" type="password" name="password" placeholder="Password">
              <input id="credential-submit" type="submit" value="login" />
          </form>
          <span>Don't have an account? 
            <a href="register">Register here.</a>
          </span>
        </div>
      </div>
    </body>
</html>