<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Expresso</title>
        <link rel="icon" type="image/x-icon" href="../static/images/favicon.ico"> 
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap" rel="stylesheet"> 

        <link rel="stylesheet" href="../static/css/login.css">
        <link rel="stylesheet" href="../static/css/style.css">
    </head>
    <body>
      <div class="layout-container">
        <div class="login-container">
          <img src="../static/images/logo.png" alt="Expresso">
          <span class="error">{{ error_message }}</span>
          <form action="/auth", method="POST">
              <input class="credential-input" type="text" name="username" placeholder="Username">
              <input class="credential-input" type="password" name="password" placeholder="Password">
              <input id="credential-submit" type="submit" value="login" />
          </form>
          <span class="prompt-redirect">Don't have an account? 
            <a class="link" href="register">Register here.</a>
          </span>
        </div>
      </div>
    </body>
</html>