<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Expresso</title>
        <link rel="icon" type="image/x-icon" href="../static/images/favicon.ico">

        <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
    </head>
    <body>
            {% for items in blogs%}
                <h1>{{loop.index}} {{items}}</h1>
            {% endfor %}
            <form action="/logout", method="GET">
                <input type="submit" value="logout">
            </form>
            <form action="/", method="GET">
                <input type="submit" value="return">
            </form>
    </body>
</html>
