<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Register</title>
        <link rel="icon" type="image/x-icon" href="../static/images/favicon.ico">
        
        <link rel="stylesheet" href="../static/css/style.css">
    </head>
    <body>
        <form action="/register", method="POST">
            <input class="credential-input" type="text" name="username" placeholder="Username">
            <input class="credential-input" type="password" name="password" placeholder="Password">
            <input id="credential-submit" type="submit" value="login" />
        </form>
    </body>
</html>